.cabecalho{
    grid-area: cabecalho;
    background-color: #08558b;
    color: white;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding-bottom: 10px;
    z-index: 1;
   box-shadow: 0px 3px 10px -1px rgba(0,0,0,0.78);

}

.container-usuarios{
    border-radius: 16px;
    background: #e0e0e0;
    box-shadow:  14px 14px 28px #a1a1a1,
             -14px -14px 28px #ffffff;
}

.cadastrar-btn{
    display: flex;
    justify-content: flex-end;
    padding: 10px;
}